{% extends 'base.html' %}
{% block title %}
About me
{% endblock %}
{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
      <h1 class="text-center">About me</h1>
      <p><b>My name is Anton Ershov and I`m 15.</b></p>
      <p><b>I from Moscow(Russia).</b></p>
      <p><b>I started learning programming when I was 13 years old. My first language was Python 3.</b></p>
      <p><b>for the first time I sat down at the computer when I was about 3-4 years old. At that time I was playing racing because I didn't know anything else and didn't want to.</b></p>
      <p><b>My father taught me how to use the search engine.</b></p>
      <p><b>Since that time, I have been constantly surfing the Internet and it is very difficult to get me out of there, I feel like a fish in water in it, this is really my element.</b></p>
      <img src="https://i.ibb.co/QnKgdLm/photo1.jpg" height="1050" width="700" alt="photo1">
      <img src="https://i.ibb.co/ZTPPY0F/photo2.jpg" height="1050" width="700" alt="photo2" class="ggwp">
  </main>
<div class="text-center">
    <a href="/" id="return" target="_self" class="btn btn-primary">Return to main page</a>
</div>
{% endblock %}