{% extends 'base.html' %}
{% block title %}
About Website
{% endblock %}
{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
      <h1 class="text-center">About Website</h1>
      <h4>What was used in the creation of this site?</h4>
      <p>Python 3, HTML, CSS - software</p>
      <p>Flask Micro-Framework, Flask_SQLAlchemy, datetime, Jinja2 - auxiliary libraries</p>
      <h4>Who participated in the writing of the site?</h4>
      <p>Only me</p>
      <h4>Where I can see the source code of this project?</h4>
      <p>You can see the source code in my GitHub repositories. Link to my GitHub profile you can see on the main page.</p>
  </main>
</div>
{% endblock %}