{% extends 'base.html' %}
{% block title %}
Main Page
{% endblock %}
{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>It`s my first website.</h1>
    <p class="lead">On this website you can read some info about me and about my plans on the future.</p>
    <ul class="nav nav-pills">
    <p class="nav-item"><a href="/about" class="nav-link active" aria-current="page">Learn more</a></p>
    </ul>
    <h1>My Social Networks:</h1>
    <a href="https://github.com/anotherhax"><img src="https://pngimg.com/uploads/github/github_PNG40.png" width="100" alt="anotherhax" height="100"></a>
    <a href="https://instagram.com/fiendfromhell" class="gg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1200px-Instagram_icon.png" width="100" alt="fiendfromhell" height="100"></a>
  </main>
</div>

{% endblock %}